################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebServer/v15
/bin/Win32/Debug
/Debug
/intermediates
/TestResults
